<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: red;">

    <h1 style="color: yellow;">Fill Up the Form:-</h1>
<form action="db">
    Name Here:<input type="text" name="n" required/><br>
    Subject Here:<input type="text" name="s" required/><br>
    Duration(in MONTHS):-<input type="text" name="d" required/><br>
    Phone:- <input type="text" name="p" required/><br>

    <hr>
    <br>
    <input type="submit"/><input type="reset"/>


</form>
    
</body>
</html>